<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Twitter Clone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
        <div  class="container">
            <nav id="top-nav" class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
                <a class="navbar-brand" href="/homepage/<%= currentUser.handle %>">Twitter?</a>
                <div class="btn-container  ml-auto">
                    <a id="logout-btn" type="button" class="btn btn-outline-primary " role="button" href="/auth/logout" >Log out</a>
                </div>
                
            </nav>
        </div>

    <div id="content" class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="side-content">
                    <div class="bio-text-container">
                        <h2 class="author">
                            <a href="#"><%= user %></a>
                            
                        </h2>
                        <h4>
                            @<%= user %>
                        </h4>
                        <p class="bio-text">
                            here's some text about this guy and his twitter page. Give him some tweets or whatever.
                        </p> 
                        <input id="current-user" type="hidden"  value=<%= currentUser.handle %> >
                        <% if(currentUser.handle !== user) { %>
                            <% let follow = currentUser.following.includes(user) ? "hidden": "" %>
                            <% let unfollow = currentUser.following.includes(user) ? "": "hidden" %>
                            <button id="unfollow-btn" class="btn btn-primary <%= unfollow %>" value=<%= user%> > Unfollow </button>
                            <button id="follow-btn" class="btn btn-primary <%= follow %>" value=<%= user%> > Follow </button>
                            
                        
                        <%} %>
                    </div>
                    
                </div>
            </div>

            <div class="col-sm-6">
                <% if(currentUser.handle === user){ %>
                <div class="jumbotron " id="jumbotron-container">
                    <form id="tweet-form">
                        <textarea id="tweet-ta" class="form-control" required></textarea>
                        <input type="hidden" id="tweet-author" value=<%= user %> >
                        <span> <span id="char-count">0</span>/140</span>
                        <button type="button submit" id="tweet-btn" class="btn btn-primary">Tweet!</button>
                    </form>
                    <div id="drop-down-container" class="form-group">
                        <form id="drop-down-form">
                            <select id="drop-down-selector" name="tag-person">
                                <option value="Steven King">Steven King</option>
                                <option value="Don King">Don King</option>
                                <option value="BK King">BK King</option>
                            </select>
                            <input type="submit" value="submit" style="display: none" />
                        </form>
                        
                    </div>
                </div>
                <% } %>
                <div class="table-container">

                    <div class="top-bar-container col-sm-12">
                        <div class="top-bar">
                            <ul class="nav nav-tabs">
                                <li role="presentation" class="active col-sm-3">
                                    <a href="#">Tweets</a>
                                </li>
                                <li class="col-sm-6">
                                    <a href="#">Tweets & replies</a>
                                </li>
                                <li class="col-sm-3">
                                    <a href="#">Media</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div id="loading-spinner">
                        
                        <i class="fa fa-spinner fa-spin"></i>    
                    </div>
                    <div id="tweet-container">

                    </div>
                    
                </div>

            </div>

            <div class="col-sm-3">
                <p>
                    something else
                </p>

            </div>
        </div>

    </div>



    <script src="http://code.jquery.com/jquery-3.3.1.js"  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/homepage.js"></script>
</body>
</html>